{% extends 'main/base.html' %}
{% load static %}

{% block title%}
Healthood: главная
{% endblock%}

{% block footer%}
{% block index_footer%}{% endblock %}
{% endblock %}

{% block content%}
<main class="page">
				<div class="index _container">
					<div class="index-flex">
						<img src="{% static 'main/img/инжир.png'%}" alt="" class="image-top">
						<div class = "index__text-body">
							<div class="index__title">HEALTHOOD
								<div class = "index__text">полезное вкусно</div>
							</div>

							<button onclick="location.href='menu.html' " class = "index__button"> <div class="index__button-text">заказать сейчас</div></button>

						</div>

						<img src="{% static 'main/img/яичница.png'%}" alt="" class="image-right">
					</div>
					<div class="image-bottom__c">
						<img src="{% static 'main/img/каша.png'%}" alt="" class="image-bottom__i">
					</div>

				</div>
							</main>
{% endblock%}