{% extends 'main/base.html' %}
{% load static %}

{% block title%}
Healthood: о нас
{% endblock%}

{% block footer%}
{% block main_footer%}{% endblock %}
{% endblock %}

{% block content%}
<main class="page ">
                    <div class= "_container">
                        <div class="o-title"><div class="o-title__text">О нас</div></div>
                        <div class="_bcontainer info">
                            <div class="info__quote">
                                "Я уже давно слежу за своим образом жизни и стараюсь питаться правильно,
                                но делать это не очень просто, когда живёшь и работаешь в таком быстром и активном городе, как Челябинск.
                                Такого же мнения придерживаются мои знакомые и друзья,
                                но ни один из нас не смог найти сервис с чётко организованной доставкой по-настоящему вкусной, разнообразной и при этом здоровой еды.
                                Именно так и возникла идея создания компании <span>HEALTHOOD.</span>
                                Мы доставляем рационы питания для всех типов диет,
                                готовим блюда из лучших ингрeдиентов и не используем рафинированной муки, сахара и консервантов."
                            </div>
                            <div class="info__author">Основательница HEALTHOOD - Таисия Кузнецова</div>
                            <div class="info__comment">
                                Сегодня здоровый образ жизни – это не просто тренд, а насущная потребность.
                                ЗОЖ – это не только регулярные занятия спортом, но и правильное питание, которое составляет 70 % успеха!
                                Чтобы поддержать вас на пути к успеху, и была создана компания HEALTHOOD.
                            </div>

                        </div>
                    </div>
                </main>
{% endblock%}
